.n1 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nombre nombre nombre nombre nombre"
      "container container contenido contenido contenido"
      "container container contenido contenido contenido"
      "container container contenido contenido contenido"
      "footer footer footer footer footer";
  }
  
  .nombre { grid-area: nombre; }
  
  .contenido { grid-area: contenido; }
  
  .footer { grid-area: footer; }
  
  .container { grid-area: container; }
  
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
    font-family: 'Manjari', sans-serif;
    font-size: 27px;
}

.nombre1 {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px;
    padding-right: 30%;
    background-color: #9ce0db;
    color:black;
    margin: 20px white solid;
    border: white solid 20px;
}

.nombre1 div{
    text-align: center;
}
.nombre1 .fotito img{
    width: 120px;
}

.container>.container1> .sidebar{
    background-color: #338b85;
    padding: 20px;
    margin: 20px;
    border: 1px;

}
/*perfil*/
.container>.container1 >.sidebar > .perfil{
    padding: 20px;
    margin: 20px;
    border: 1px;

}
.container>.container1 >.sidebar > .perfil>h3{
    color:#9ce0db;
}

.container>.container1 >.sidebar >.perfil>.dentroperf{
    padding: 0;
    margin-top: 20px;
    border: 1px
}
.container>.container1 >.sidebar >.perfil>.dentroperf>p{
    color: white;
}
/*contacto*/
.container>.container1 >.sidebar >.contacto{
    padding: 20px;
    margin: 20px;
    border: 1px 
}
.container>.container1 >.sidebar >.contacto> h3{
    color: #9ce0db;
}

.container>.container1 >.sidebar >.contacto>.dentrocont{
    padding: 0;
    margin-top: 20px;
    border: 1px
}
.container>.container1 >.sidebar >.contacto>.dentrocont>h4{
    color: #9ce0db;
}
.container>.container1 >.sidebar >.contacto>.dentrocont> p{
    color: white;
}
.contacto{
    padding: 20px;
    margin: 20px;
    border: 1px solid black
}
.contenido{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}
/*experiencia*/
.contenido>.contenido1> .exp {
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1> .exp>h3{
    color:#005954

}
.contenido>.contenido1>.exp> .dentroexp{
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1> .exp> .dentroexp>h4{
    color: #005954;
}
.contenido>.contenido1> .exp> .dentroexp>p{
    color:black;
}
/*estudio*/
.contenido>.contenido1> .est {
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1>.est> h3{
    color:#005954
}
.contenido>.contenido1 >.est> .dentroest{
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1 >.est> .dentroest>h4{
    color: #005954;
}
.contenido>.contenido1 >.est> .dentroest>p{
    color:black;
}

/*idioma*/
.contenido>.contenido1> .idi {
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1> .idi>h3{
    color: #005954;
}
.contenido>.contenido1 >.idi> .dentroidi{
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1 >.idi> .dentroidi>p{
    color: black;
}
/*habilidades*/
.contenido>.contenido1> .hab {
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1> .hab>h3{
    color: #005954;
}
.contenido>.contenido1 >.hab> .dentrohab{
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1 >.hab> .dentrohab>p{
    color: black;
}
.contenido>.contenido1>.hab>.dentrohab{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
/*hobbies*/
.contenido>.contenido1>.hob{
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1>.hob>h3{
    color: #005954;
}
.contenido>.contenido1>.hob>.dentrohob{
    padding: 0;
    margin-top: 20px;
    border: 1px;
}
.contenido>.contenido1>.hob>.dentrohob>p{
    color: black;
}
/*footer*/
.footer>.footer1{
    background-color: #338b85;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
}
.link-custom {
    color: white
  }
  
.pyth {
    width: 50px;
}
.htmll{
    width: 50px;
}
.csss{
    width: 50px;
}
.oracle{
    width: 50px;
}